.login__form-group {
  margin-bottom: 15px;
}

.login__form--label {
  display: block;
  font-weight: bold;
}

.login__form--input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

#login__form--sign-in {
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  border: none;
  color: var(--white);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#login__form--sign-in:hover {
  background-color: var(--primary-hover);
}

p {
  text-align: center;
}

.login__form--sign-up {
  color: var(--primary);
  text-decoration: none;
}

.login__form--sign-up:hover {
  text-decoration: underline;
}

.login__speech-icon--first {
  position: relative;
  top: -130px;
  left: 25px;
  width: 100px;
  object-fit: cover;
  object-position: center right;
  z-index: -1;
}

.login__speech-icon--second {
  width: 100px;
  bottom: -130px;
  left: -15px;
  object-fit: cover;
  object-position: center right;
  z-index: -1;
}